/* Space out content a bit */
body {
  height: 100vh;
  padding-top: 20px;
  padding-bottom: 20px;
}
.container {
  display: flex;
}
.navbar {
  text-align: right;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
/*.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}*/

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  margin-top: 20%;
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  background: rgb(255, 255, 255);
}
.jumbotron .btn {
  /*font-size: 21px;*/
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 10px;
  text-align: center;
  background: rgba(255, 160, 0, 0.8);
}

.userName {
  margin-right: 15px;
}

.boldText {
  font-weight: bold;
}